/* Importation des polices */
@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkalami&family=Bagel+Fat+One&display=swap');

/* Styles généraux */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Alkalami", serif;
    background: linear-gradient(#FDFDFE,#F7F9FF);
    color: #3A5BC5;
}

h1 {
    font-size: 60px;
    color: #1F2D5C;
}

h2 {
    font-size: 45px;
    font-family: "Bagel Fat One";
    color: #1F2D5C;
}

h3 {
    font-size: 20px;
    font-family: "Bagel Fat One";
    color: #1F2D5C;
}

/* Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    height: auto;
    width: 100%;
    padding: 20px 30px;
    font-family: 'Bagel Fat One', sans-serif;
    background-color: #D2DEFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    flex-wrap: wrap; /* Permet au contenu de se repositionner sur plusieurs lignes si nécessaire */
}

#mode-icon {
    vertical-align: middle;
}

nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

nav a {
    font-size: 26px;
    color: #1F2D5C;
    text-decoration: none;
    margin-left: 30px;
}

@media (max-width: 1024px) {
    nav a {
        font-size: 22px; /* Réduire la taille de la police pour les tablettes */
        margin-left: 20px; /* Réduire l'espace entre les liens */
    }
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        height: auto;
        padding: 10px 20px;
    }

    nav {
        width: 100%;
        justify-content: space-around; /* Aligne les liens de navigation sur toute la largeur disponible */
        margin-top: 10px;
    }

    nav a {
        font-size: 20px; /* Réduire encore la taille de la police pour les petits écrans */
        margin-left: 10px; /* Réduire encore l'espace entre les liens */
    }
}

/* Sections */
section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    margin: 20px auto;
    max-width: 95%;
}

section h2 {
    flex: 1;
    margin-right: 20px;
}

section p {
    flex: 1;
    font-size: 20px;
}

@media (max-width: 768px) {
    section {
        flex-direction: column;
        align-items: flex-start;
    }
}

/* Footer */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 20px;
    background-color: #D2DEFF;
    color: #1F2D5C;
    font-family: 'Bagel Fat One', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px; /* Ajustez l'espacement haut/bas et gauche/droite */
}

footer p {
    margin-right: 20px; /* Ajustez l'espacement entre les éléments */
}

footer a {
    margin-right: 20px; /* Ajustez l'espacement entre les éléments */
}

/* Utilisez des Media Queries pour rendre le footer plus compact sur les petits écrans */

@media (max-width: 768px) {
    footer {
        flex-direction: column; /* Empilez les éléments sur les petits écrans */
        text-align: center; /* Centrez le texte sur les petits écrans */
    }

    footer p,
    footer a {
        margin-right: 0; /* Supprimez l'espacement entre les éléments sur les petits écrans */
        margin-bottom: 10px; /* Ajoutez un espacement entre les éléments sur les petits écrans */
    }
}

body.dark-mode {
    background-color: #141726;
    color: #9EB1FF;
}

section {
    margin-top: 15vh;
    height: 100vh;
    scroll-snap-align: start;
    transition: transform 0.1s ease;
}

/* CSS pour la section "À propos de moi" */
#about {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
}

#about .section-title {
    
    text-align: left; /* Aligner le titre à gauche */
    margin-right: 100px;
    flex: 1;
}

#about .content {
    flex: 2;
}

#about p {
    line-height: 1.6;
    text-align: left; /* Assurer que les paragraphes sont alignés à gauche */
    margin-bottom: 20px;
}

#about .cv-link a {
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
}

#about .cv-link a:hover {
    text-decoration: underline;
}

/* Cards */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
    padding: 20px;
}

.formation-card {
    background-color: #E1E9FF;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 15px;
    width: 100%;
    max-width: 430px;
    max-height: 620px;
    overflow-y: auto;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.formation-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.card-title {
    font-size: 18px;
    margin-bottom: 20px;
    color: #1F2D5C;
}

.formation-card p {
    color: #3A5BC5;
    margin: 5px 0;
}

@media (max-width: 1024px) {
    .formation-card {
        max-width: 45%;
    }
}

@media (max-width: 768px) {
    .card-container {
        flex-direction: column;
        align-items: center;
    }

    .formation-card {
        max-width: 100%;
    }
}

.competence-card {
    background-color: #E1E9FF;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 800px; /* Limite la largeur à 800px */
    display: flex;
    flex-direction: column; /* Permet à la carte d'avoir une hauteur variable */
    margin-top: 30px;
}

.competence-card .card-title {
    font-size: 26px;
    margin-bottom: 10px;
    text-align: center;
}

 .sub-competence {
    display: flex;
    flex-wrap: wrap; /* Permet aux sous-compétences de passer à la ligne */
    gap: 10px; /* Ajoute un petit espacement entre les sous-compétences */
    background-color: #C1D0FF;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 5px;
    margin-bottom: 5px;
    align-items: center;
}

.competence-card .sub-competence .sub-competence-item {
    flex: 0 0 calc(50% - 10px); /* Définit la largeur de chaque sous-compétence */
    background-color: #C1D0FF;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.competence-card .logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
.sub-competence:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}


/* Style des cartes pour la section "Experiences" */
.experience-card {
    background-color: #E1E9FF;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 15px;
    width: 100%;
    max-width: 480px;
    max-height: 620px;
    overflow-y: auto;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    margin-bottom: 20px; /* Ajoute un espacement en bas pour séparer les cartes */
}

.experience-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.experience-card p {
    color: #3A5BC5;
    margin: 5px 0;
}

@media (max-width: 1024px) {
    .experience-card {
        max-width: 45%; /* Ajuste la largeur des cartes pour les tablettes */
    }

}

@media (max-width: 768px) {
    .experience-card {
        max-width: 100%; /* Utilise toute la largeur disponible sur les petits écrans */
    }
}

.projet-card {
    background-color: #E1E9FF;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.projet-card .card-title {
    font-size: 20px;
    margin-bottom: 10px;
}

.projet-card img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}
.projet-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}
.bdd_fk_img{
    border-radius: 10px;
}
.image_projets{
    border-radius: 40px;
    margin-left: 50px;
    margin-top: 55px;
}
.image_projets:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}
#contact {
    display: flex
    flex-direction: column;
    margin-top: 50px;
    
}
#contact-form {
    width: calc(50% - 10px); /* Calculez la largeur en fonction de la moitié de la largeur disponible et de l'espacement */
    padding: 20px;
    border-radius: 10px;
    background-color: #E1E9FF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
#contact-form div {
    margin-bottom: 20px;
}

#contact-form label {
    display: block;
}
#contact-form input,
#contact-form textarea {
    width: calc(100% - 16px); /* Ajustez la largeur des champs de saisie */
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#contact-form button {
    width: 100%;
    background-color: #3E63DD;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
#contact-form button:hover {
    background-color: #3358D4;
}
#contact-details {
    width: calc(50% - 10px); /* Calculez la largeur en fonction de la moitié de la largeur disponible et de l'espacement */
    padding: 20px;
    border-radius: 10px;
    background-color: #F7F9FF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
#contact-details p {
    margin-bottom: 10px;
}
#contact-details p:last-child {
    margin-bottom: 0;
}